<div class="container h-100 w-100">

    <header class="bg-success">

        <ul class="nav justify-content-end ">
            <li class="nav-item rounded-sm bg-danger">
                <a class="nav-link text-light" routerLink="home" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item rounded-sm bg-dark">
                <a class="nav-link text-light" routerLink="services" routerLinkActive="active">Services</a>
            </li>
            <li class="nav-item rounded-sm bg-warning">
                <a class="nav-link text-light" routerLink="signup" routerLinkActive="active">Signup</a>
            </li>
            <li class="nav-item rounded-sm bg-primary">
                <a class="nav-link text-light" routerLink="signin" routerLinkActive="active">SignIn</a>
            </li>
            <li class="nav-item rounded-sm bg-info">
                <a class="nav-link text-light" routerLink="Map" routerLinkActive="active">Map</a>
            </li>
            <li class="nav-item rounded-sm bg-secondary">
                <a class="nav-link text-light" routerLink="contactus" routerLinkActive="active">ContactUs</a>
            </li>
            <li class="nav-item rounded-sm bg-info">
                <a class="nav-link text-light" routerLink="reactive" routerLinkActive="active">Reactive</a>
            </li>
        </ul>

    </header>
    <section class="bg-light">
        <router-outlet></router-outlet>
    </section>
</div>