/* You can add global styles to this file, and also import other style files */

html,
body {
    margin: 0%;
    padding: 0%;
    height: 100%;
    width: 100%;
}

header {
    height: 10%;
    width: 100%;
}

section {
    height: 90%;
    width: 100%;
    overflow: auto;
}