<div class="container">
    <div class="image h-50 w-25 float-right   ">
        <img src="{{profileimagesUrl}}" width="200px" height="350px" alt="">

    </div>
    <div class="left-section" *ngFor="let profileData of myFinalProfile">
        <h1>{{profileData.heading}}</h1>
        <h1>{{profileData.Name}}</h1>
        <h1>{{profileData.details}}</h1>
        <p>{{profileData.Paragraph}}</p>
        <p>{{profileData.personaldetails}}></p>



    </div>
    <!-- <div class="content" *ngFor="let i in myFinalProfile">
        <h1>hi {{i.heading}}</h1>
    </div> -->

</div>
<h1 class="text-info">Vaishali Ramasamy</h1>
<p class="text-info">#25,Rajaji Nagar, Erode ,Tamilnadu, 638008.
</p>



<!-- <div class="  content h-25 w-100 bg-light">
        <h1 class="text-danger">My Profile </h1>
        <div class="media-body">
            <h4 class="text-info">Vaishali Ramasamy <small><i>Posted on February 19, 2019</i></small></h4>


            <div class=" jumbotron text-primary">
                <h4 class="text-primary">This is Vaishali Ramasamy, I completed MCA, I am working at HGS,Now I am staying in Bangalore.</h4>
                A social profile page is important and essential in order to market yourself online. Profile pages are the first impression people get from you therefore make sure you have a professional, beautiful and complete profile page with full contact details.
                This can help drive traffic back to your RESAAS page, whether it be agents on RESAAS or prospective clients. Use your RESAAS profile to market your brand, showcase your inventory and demonstrate you are an expert!
            </div>

            <div class="image  float-left .mx-auto ">

                <img src="./assets/logo.jpg" class="rounded" width="304" height="236" alt="">
            </div>
        </div>

    </div> -->